<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title> Cric Stats </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h2> Welcome to Cricket Match Information System</h2>

        <form class="form-search">
            <!--<div class="fa fa-lock"> Match ID</div>-->
            <!--<input type="text" class="input-medium search-query">-->
            <div id="add"><a href="/get/match/186885">
                    <input type="text" class="form-control" placeholder="">
                    <button type="submit" class="btn btn-primary">Find Match Details</button>
                </a>
            </div>
        </form>
    </div>
</body>
</html>
