<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title> Cric Stats </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h2> Welcome to Cricket Match Information System</h2>
        <form class="fa">
            <a class="fa " href="/get/upcomingSeries">Upcoming Series </a>
        </form>
        </br>
        <form class="fa">
            Past Matches
            <div>
                <table width="200" class="table table-bordered">
                    <tr id="tr_id_1">
                        <% for (var i = 0; i < matchList.length; i++) { %>
                        <td align=left size=4>
                            <a href = "/get/match/<%= matchList[i].matchid %>" class="label label-success">
                                <%= matchList[i].Team[0].Team %>
                                vs.
                                <%= matchList[i].Team[1].Team %>
                            </a>
                        </td>
                    </tr>
                    <% } %>
                </table>
            </div>
            <a class="fa " href="/get/match/190886">190886</a>
        </form>
    </div>

</div>
</body>
</html>
