<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title> Cric Stats </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h2> Welcome to Cricket Match Information System</h2>

        <form class="fa">
            Upcoming Series =
            <a class="fa " href="/get/upcomingSeries">Upcoming Series </a>

            <form class="fa">
                Match ID =
                <a class="fa " href="/get/match/186885">186885</a>
                <a class="fa " href="/get/match/186884">186884</a>
                <a class="fa " href="/get/match/186883">186883</a>
                <a class="fa " href="/get/match/186882">186882</a>
                <a class="fa " href="/get/match/186881">186881</a>
            </form>
            </br>
        </form>
    </div>

</div>
</body>
</html>
